<h1>Update your password</h1>

<p>Please enter the new password below and then press "Update Password".</p>

<%= form_tag password_reset_path, :method => :put do %>
<%= hidden_field_tag :token, @token %>
<div class="field">
	<%= f.label :password, "New password" %><br />
	<% if @minimum_password_length %>
	<em>(<%= @minimum_password_length %> characters minimum)</em><br />
	<% end %>
	<%= f.password_field :password, autofocus: true, autocomplete: "off" %>
</div>

<div class="field">
	<%= f.label :password_confirmation, "Confirm new password" %><br />
	<%= f.password_field :password_confirmation, autocomplete: "off" %>
</div>

<div class="actions">
	<%= f.submit "Change my password" %>
</div>
<% end %>